/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 14, ../sass/screen.scss */
body {
  background-color: #f0f0f0;
  color: #181813;
  font-family: 'Lato', Arial, sans-serif;
  line-height: 1.5em;
}

/* line 21, ../sass/screen.scss */
h5, h4, h3, h2, h1 {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
}

/* line 25, ../sass/screen.scss */
h5 {
  color: #4eb8d0;
}

/* line 29, ../sass/screen.scss */
h3, h4 {
  color: #97b7c7;
}

/* line 33, ../sass/screen.scss */
h2 {
  color: #4eb8d0;
  font-size: 1.625em;
  line-height: 1.2em;
}

/* line 39, ../sass/screen.scss */
h1 {
  color: #364147;
  font-weight: normal;
}

/* line 44, ../sass/screen.scss */
ul {
  margin-left: 0;
  padding-left: 1em;
}

/* line 51, ../sass/screen.scss */
.job .title, .job .date_range {
  display: block;
}

/* line 55, ../sass/screen.scss */
#logo {
  display: none;
}

/* line 59, ../sass/screen.scss */
#build dt {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

/* line 65, ../sass/screen.scss */
.title {
  font-weight: bold;
  color: #474747;
}

/* line 70, ../sass/screen.scss */
.container {
  width: 98%;
  margin: auto;
  padding-top: 0.375em;
}

/* line 76, ../sass/screen.scss */
#intro {
  display: inline;
  float: left;
  width: 98.64583333333333%;
  margin: 0 0.6770833333333334%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 0.75em;
}

/* line 87, ../sass/screen.scss */
#intro header {
  display: block;
  width: 101.60550458715596%;
  margin: 0 -0.8027522935779817%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 96, ../sass/screen.scss */
#intro header #headshot {
  display: inline;
  float: left;
  width: 6.727828746177369%;
  margin: 0 0.8027522935779817%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 17.469418960244646%;
}

/* line 107, ../sass/screen.scss */
#intro header #bio {
  display: inline;
  float: left;
  width: 40.0611620795107%;
  margin: 0 0.8027522935779817%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 117, ../sass/screen.scss */
#intro header #quote {
  display: inline;
  float: left;
  width: 31.727828746177373%;
  margin: 0 0.8027522935779817%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 127, ../sass/screen.scss */
#quote {
  font-style: italic;
  color: #4eb8d0;
}

/* line 132, ../sass/screen.scss */
#quote p {
  font-size: 1.25em;
}

@media screen and (min-width: 61.5em) {
  /* line 141, ../sass/screen.scss */
  .container {
    width: 80%;
    margin: auto;
    margin-top: 1em;
    padding-top: 0.375em;
  }

  /* line 148, ../sass/screen.scss */
  #intro {
    width: 98.39449541284404%;
    margin: 0 0.8027522935779817%;
    margin-bottom: 1em;
  }

  /* line 154, ../sass/screen.scss */
  #intro header #quote {
    display: inline;
    float: left;
    width: 31.727828746177373%;
    margin: 0 0.8027522935779817%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 166, ../sass/screen.scss */
  #main {
    display: inline;
    float: left;
    width: 65.06116207951071%;
    margin: 0 0.8027522935779817%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 176, ../sass/screen.scss */
  #secondary {
    display: inline;
    float: left;
    width: 31.727828746177373%;
    margin: 0 0.8027522935779817%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-left: dotted 0.125em #B8B8B8;
    padding-left: 1em;
  }
}
