/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firefox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
   color: #999;
   font-size: 12px;
   line-height: 1.4;
   font-family: 'Lato', Helvetica, Arial, sans-serif;
   padding: 57px 0 50px 0;
}

.preview{
  background-image: url('../img/fashion_blog_part2.png');
}

#main img{
  width:100%;
}

#sidebar img{
  width:100%;
}

h1 a{
  color: #f30000;
  text-decoration: none;
  font-size: 4.5em;
  font-weight: lighter;
}

h2{
    padding-bottom: 15px;
}

h2 a{
  color: #222;
  text-decoration: none;
  font-size: 3em;
  font-weight: lighter;
}

h4 a{
  color:#f30000;
  text-decoration: none;
  font-size: 1.5em;
}

nav{
    display: block;
    padding: 20px 30px 20px 30px;
    width: 100%;
}

article{
border-bottom: 1px solid #bdbdbd;
padding: 46px 0;
}

article p{
  font-size: 1.5em;
  line-height: 1.5em;
  padding: 30px 0;
}

article h3{
  color:#ccc;
  font-size: 3em;
  font-weight: lighter;
}

article h4{
  text-align: right;
  font-weight: bold;
}

#sidebar article h3{
  text-align: left;
  font-weight: bold;
  font-size: 1.4em;
  color:#888;
}

header h2{
  color: #999;
  text-decoration: none;
  font-size: 2.2em;
  font-weight: normal;
  padding-left:10px;
}

header div{
  padding-bottom: 80px;
}

header div h1{
  float:left;
}

header div h2{
  float: left;
  top: 30px;
  position: relative;
  display: inline;
  left: 19px;
}

header nav{
  background-color: #000;
}

header nav a{
  color: #eee;
  font-size: 2em;
  padding:3%;
  text-decoration: none;
  border-right: 1px solid #fff;
}

header nav a:last-child{
  border-right: none;
}

footer{
  margin-top: 40px;
  padding: 10px 0px 0px 0px;
}

footer p{
  font-size: 1.5em;
  color:#bbb;
}

footer nav{
  font-size: 1.45em;
  padding: 0 0 25px 0;
}

ol{
  list-style:disc;
  color:#444;
  list-style-position: inside;
}

footer nav a{
  color:#f30000;
  text-decoration: none;
  padding-right:0px;
}

/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container{
  width: 100%;
  padding: 0px 60px;
}

#main{
  width: 66%;
  float: left;
  top:60px;
}

#sidebar{
  width: 29%;
  float: right;
  margin-top:80px;
}

#sidebar ol li{
  text-transform: capitalize;
  color: #ff0000;
}

#sidebar ol li a{
  text-transform: capitalize;
  color: #ff0000;
  text-decoration: none;
}

#sidebar ol{
  font-size: 1.5em;
  line-height: 1.6em;
  margin-top: 30px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

#dropcap{
  float: left;
  color:#ddd;
    padding: 0px 10px 0px 0px;
    font-size: 6.5em;
    line-height: 0px;
    margin-top: 46.12px;
    height: 57.12px;
    font-weight: lighter;
}
